* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f4f4f4;
  color: #333;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #111;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #00bcd4;
}

.logo {
  color: white;
}

/* Hero */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4f46e5, #06b6d4);
  color: white;
  text-align: center;
}

.hero span {
  color: yellow;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  transform: translateY(-4px);
}

/* Sections */
.section {
  padding: 60px;
  text-align: center;
  animation: fadeIn 1.2s ease-in;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 30px;
  width: 200px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.cv-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: white;
  color: #4f46e5;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
}

.cv-btn:hover {
  transform: translateY(-4px);
  background: #e5e7eb;
}
